.create-task-form {
    width: 70vw;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-block: 20px;
}
.create-task-form input{
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 1.4rem;
    border: none;
    border-radius: 8px;
    margin-block: 10px;
}
.create-task-form label {
    font-size: 1.4rem;
}
.create-task-form button {
    border: none;
    margin-top: 10px;
    color: white;
    background-color: rgb(30, 71, 192);
    border-radius: 5px;
    font-family: monospace;
    font-size: 1.4rem;
    padding: 10px 50px;
    cursor: pointer;
}

/* Themes */
.dark input{
    border: 1px solid white;
}

.light input{
    border: 1px solid #333;
    background-color: #333;
    color: white;
}