/* Base layout */
.base-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #0071e2;
    font-family: 'Inter', sans-serif;
}

/* Left form side */
.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}


/* Auth form */
.auth-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 1px white;
}

.auth-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(226, 226, 226);
    margin-bottom: 1rem;
    text-align: center;
}

.auth-input {

  background-color: rgb(252, 231, 231);
  color: rosybrown;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}

.auth-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.auth-button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #211a46;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.auth-button:hover {
    background-color: #101246;
}

.auth-button:active {
    transform: scale(0.98);
}

.forgot-password-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: rgb(207, 204, 230);
    font-weight: 500;
    transition-duration: 0.8s;
}

.toggle-forms-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: rgb(207, 204, 230);
  font-weight: 500;
  transition-duration: 0.8s;
}

.toggle-forms-button:hover {
  transform: scale(1.05);
}
